body {
  text-align: center;
  background-color: #527576;
}

h1 {
  font-size: 5rem;
  color: #adbead;
  font-family: 'Bebas Neue', sans-serif;
  text-shadow: 3px 0 #00000066;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
background-image: url('/images/tom1.png');
background-blend-mode:exclusion;
}

.a {
background-image: url('/images/kick.png');
}

.s {
background-image: url('/images/snare.png');
}

.d {
background-image: url('/images/tom2.png');
background-blend-mode: difference;
}

.j {
background-image: url('/images/tom3.png');
background-blend-mode: difference;
}

.k {
background-image: url('/images/tom4.png');
background-blend-mode: difference;
}

.l {
background-image: url('/images/crash.png');
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: rgb(104, 104, 104);
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 5px solid #73c8ca;
  font-size: 4rem;
  font-family: 'Bebas Neue', sans-serif;
  text-shadow: 3px 0 #00000066;
  line-height: 2;
  font-weight:bolder;
  color: #527576;
  border-radius: 5px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
